<html lang="en">
<head>
    <title>{{ list.title }}</title>
    {% load static %}
    <script src="{% static 'shopping_list/js/script.js' %}"></script>
{#    here put link to your fontawesome kit#}
{#    <script src="https://kit.fontawesome.com/YOUR-NUMBER.js" crossorigin="anonymous"></script>#}
    <script src="{% static 'shopping_list/js/list-element.js' %}"></script>
    <link rel="stylesheet" href="{% static 'shopping_list/styles/style.css' %}">
    <link rel="icon" href="{% static 'shopping_list/favicon.ico' %}">
</head>
<body>
<div id="data_container" data-list_id="{{ list.id }}" data-list_title="{{ list.title }}"
     style="visibility: collapse"></div>
<div class="main_container">
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="icon-button"><i class="fa-solid fa-arrow-left"></i></button>
    </form>
    <form action="{% url 'delete_list' list.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="icon-button"><i class="fa-solid fa-trash"></i></button>
    </form>
    <form action="#" onsubmit="rename_list();return false">
        <label>
            <input class="title" id="list_name" value="{{ list.title }}"/>
        </label>
    </form>

    <br>

    <ul id="items">
        {% for item in list.item_set.all %}
            <list-element
                    id="item-{{ item.id }}"
                    data-text="{{ item.name }}"
                    data-id="{{ item.id }}"
                    data-marked="{{ item.marked }}"
            ><i class="fa-solid fa-trash"></i></list-element>
        {% endfor %}
    </ul>

    <br>

    <form action="" onsubmit="new_item();return false">
        <label>
            <input class="new-element-field" id="item_name">
        </label>
        <button class="icon-button" type="submit"><i class="fa-solid fa-basket-shopping"></i></button>
    </form>

    <br>

    <h2>Passcode: {{ list.id }}</h2>
</div>
</body>
</html>